@{ ViewData["Title"] = "Edit Book Registry"; }

<div class="jumbotron">
    <h1 class="display-4">Edit Book Registry</h1>
    <p class="lead">Edite os dados do livro.</p>
    <div id="entryPoint"></div>
    <form>
        <div class="form-group">
            <label for="code" class="control-label">Code</label>
            <input id="code" name="code" class="form-control" />
        </div>
        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input id="name" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="author" class="control-label">Author</label>
            <input id="author" name="author" class="form-control" />
        </div>
        <div class="form-group">
            <label for="isbn" class="control-label">ISBN</label>
            <input id="isbn" name="isbn" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label for="releaseYear" class="control-label">Release Year</label>
            <input id="releaseYear" name="releaseYear" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" id="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/Books/byid.js"></script>
    <script src="~/js/Books/edit.js"></script>
}