@{ ViewData["Title"] = "Books List"; }

<div class="jumbotron">
    <h1 class="display-4">Book List</h1>
    <p class="lead">Este é um projeto dividido em front e backend, organizado para atender aos requisitos do desafio técnico da Nkey.</p>
    <hr class="my-4">
    <div id="entryPoint"></div>
    <button class="btn btn-primary" id="getDataButton">Consultar dados</button>
</div>

@section Scripts {
    <script src="~/js/Books/records.js"></script>
}
