@{ ViewData["Title"] = "Books List"; }

<div class="jumbotron">
    <h1 class="display-4">Book List</h1>
    <p class="lead">Este é um projeto dividido em front e backend, organizado para atender aos requisitos do desafio técnico da Nkey.</p>
    <div id="entryPoint"></div>
</div>

@section Scripts {
    <script src="~/js/Books/list.js"></script>
}
